
font-serif() {
	font-family: Georgia, serif;
	font-weight: 400;
	// font-size: $size;
	// color: $color;
}

font-sansserif( $size=18px, $color=#333333 ){
	font-family: Helvetica, Arial, sans-serif;
	font-size: $size;
	color: $color;
	// text-transform: uppercase;
}

body {
	font-sansserif(1em);
}

.serif {
	font-serif();
}

h1,h2,h3,h4,h5 {
  line-height: 1;
	font-weight: normal;
	font-weight: 700;
}

h1 {
  font-sansserif(2.125em, #FFF);
	&.serif {
		font-serif();
	}
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 10px;
}

p {
  font-sansserif(1.0625em, #dadada);
  line-height: 1.5em;
}
