// It is really a lot easier to manage All indexes in one file and location
// declare the variables here

$z-negative=-1;

$z-one = 1;

$z-project-page-splash=200;

$z-footerNav= 450;

$z-headerNav= 500;
